@import '@/styles/variables.less';

.container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 26px 22px 30px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(71, 58, 39, 0.14);
    border-radius: 999px;

    &:hover {
      background: rgba(71, 58, 39, 0.24);
    }
  }
}

.typingWrapper {
  padding: @spacing-xs 0;
}
