@import '@/styles/variables.less';

.root {
  position: relative;
  flex: 1;
  min-height: 0;
}

.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 26px 22px 30px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: @scrollbar-thumb;
    border-radius: 999px;

    &:hover {
      background: @scrollbar-thumb-hover;
    }
  }
}

.typingWrapper {
  padding: @spacing-xs 0;
}
