@import '@/styles/variables.less';

.container {
  padding: @spacing-md 0;
}

.meta {
  margin-bottom: @spacing-md;
}

.section {
  margin-bottom: @spacing-lg;

  h5 {
    margin-bottom: @spacing-sm;
    color: @text-primary !important;
    font-family: @font-family-display;
  }
}
